@import '../style.css';

#callOrEmailDot {
  aspect-ratio: 1/1;
    height: 3.2rem;
    width: 3.2rem;
  background-color: var(--color1);
  border-radius: 100%;
  box-shadow: 
              2px 2px 0px ;
  text-align: center;
  position: sticky;
    bottom: 1rem;
    left: 1rem;
}

/* #callOrEmailDot>p {
  filter: invert(1);
  text-shadow: 
    2px 2px 0px black,
    2px -2px 0px black,
    -2px 2px 0px black,
    -2px -2px 0px black
  ;
} */

#callOrEmailDot img {
  max-width: 50%;
  transform:translateY(-0.2rem);
}