#portfolio {
  width: 90%;
  margin: auto;
}

#businessCardsDisplay {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
    #businessCardsDisplay>div>img {
      max-width: 100%;
    }

#motionGraphics {
  align-items: center;
  text-align: center;
}