@import './style.css';
@import './home2.css';

#four04 {
  background:
    radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
    background-position: 0vmin, 0vmin;
    background-size: 5vmin 5vmin;   
  animation-name: backgroundAnimation;
    animation-duration: 4s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
  display: block;
    overflow: hidden;
  margin: auto;
  padding: 3rem;
  text-align: center;
}
@media (max-width: 600px) {
  #four04 {
    background-size: 15vmin 15vmin;   
  }
}

#four04Art {
  max-height: 50rem;
  max-width: 90%; 
  border-radius: 100%;
  border: 2px solid var(--color1);
}