@import "./style.css";
@import "./home2.css";

header {
  background-color: black;
  position: sticky;
  top: 0;
  
  transition-duration: 200ms;

  overflow: hidden;

  z-index: 2000;
}

header>div {
  aspect-ratio: auto;
    min-height: 3rem;
  color: white;
  

  display: grid;
  gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));

  /* from home2.css */
  background:
    radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
    background-position: 0vmin, 0vmin;
    background-size: 5vmin 5vmin;   
  animation-name: backgroundAnimation;
    animation-duration: 4s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
}

.headerItem {
  /* i was told to add this */
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-height: 66%;
}
.headerItemWithText {
  margin-top: 1rem;
}

#logoHeader {
  filter: invert(1);
}
#logoHeader img {
  max-height: 2rem;
  padding-top: 1rem;
}

/* 
@media only screen and (orientation: landscape)  {
  .headerItem {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
   */