@import "./style.css";

header {
  aspect-ratio: auto;
    height: var(--headerHeight);
  background-color: var(--backgroundColor1);
  color: var(--textColorTitles);
  display: flex;
    justify-content: space-evenly;
  padding-top: 1rem;
  text-decoration: none;
}
@media (max-width: 600px) {
  header {
    display: block;
    position: sticky;
    width: 100%;
    height: 100svh;
    z-index: 100;
    flex-direction: column;
  }
}

header {
  background:
    radial-gradient(rgba(255, 255, 255, 0.2) 8%, black 8%);
    background-position: 0vmin, 0vmin;
    background-size: 5vmin 5vmin;   
  animation-name: backgroundAnimation;
    animation-duration: 4s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
  overflow: hidden;
}
@media (max-width: 600px) {
  #home2Container {
    background-size: 15vmin 15vmin;   
  }
}

  header>* {
    flex: 1;
    text-align: center;
  }
  header>*:hover{
    scale:1.1;
    color: var(--color1);
  }
  header>*:link {
    color: var(--textColor2);
    text-decoration: none;
  }
  header>*:visited {
    color: var(--textColor2);
    text-decoration: none;
  }
  header>a:first-child {
    aspect-ratio: auto;
    flex:2;
    /* background-image: url(https://images.unsplash.com/photo-1679189792474-6c2796dc78ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2728&q=80);
      background-size: cover; */
    text-align: left;
    padding-left: var(--headerSpacing);
    filter:invert(100);
  }
  @media (max-width: 600px) {
    header>a:first-child {
      padding-left: 0px;
      text-align: center;
    }
  }
  header>a:last-child {
    text-align: right;
    padding-right: var(--headerSpacing);
  }
  @media (max-width: 600px) {
    header>a:last-child {
      text-align: center;
      padding-right: 0px;
    }
  }
    /* header>a>div {
      max-height: 100%;
    } */
    header>div {
      display: flex;
        justify-content: space-around;
      flex: 2;
    }
      header>a>div>img {
        /* aspect-ratio: 1/1; */
          max-height: 2rem;
          max-width: 100%;
          height: auto;
        position: relative;
          top:0px;
        transform: translate(0px, -0.4rem);
      }

/* @media (max-width: 600px) {
  
} */