@import './style.css';

:root {
  --titleImageFilterOutlineSize: 10px;
}

*:link{
  color:var(--textColor3);
  text-decoration-color: var(--color1);
}
*:visited{
  color:var(--textColo2);
  text-decoration-color: var(--color1);
}

#accessibleIcon {
  max-width: 1.5rem;
  filter: invert(1);
}

#linuxLogo {
  filter: invert(1) brightness(1000);
}

#macOsLogo {
  filter: invert(1) brightness(1000);
}

h2 {
  padding-top: 5rem !important;
  padding-bottom: 3rem;
  font-size: 3rem;
}

h3 {
  padding-top: 5rem !important;
  padding-bottom: 3rem;
  font-size: 2.5rem;
}

#home {
  aspect-ratio: auto;
    height: auto;
    width:80%;
  background-color: var(--backgroundColor1);
  color: var(--textColor3);
  margin:auto;
}
  #home>* {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  #home>div {
    padding-top: 5rem;
  }

.homeHorizontalRow {
  display: flex;
    justify-content: space-around;
  /* padding-left: 5rem;
  padding-right: 5rem; 
  padding-top: 3rem;*/
}
  .homeHorizontalRow>div{
    display: flex;
    flex-direction: column;
    flex:1;
    height: auto;
  }
    .homeHorizontalRow>div>a {
      flex:10;
    }
      .homeHorizontalRow>div>a>img {
        text-align: center;
        /* aspect-ratio: 1/1; */
          max-height:90%;
          min-width: 90%;
          max-width: 90%;
        flex:1;
        margin:5%;
        padding:auto;
      }
  .homeHorizontalRow>div>p {
    text-align: center;
    margin:auto;
    width:90%;
    flex:1;
  }

#note {
  width:40%;
}

#paragraphScale {
  text-align: left;
}

#paragraphAccessible {
  text-align: center;
  margin:auto;
}
#paragraphUnique {
  margin-left: auto;
}
#scaleText {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 1rem;
}

/* #skillWhereItMatters {
  background-color: var(--backgroundColor2);
  color: var(--color1);
  width: 100%;
} */

#titleWholeContainer {
  position: relative;
  width:auto;
  height: 100vh;
}

#titleContainer {
  background-color: rgba(200,200,200,0.0);
  display: flex; 
  flex-direction: column;
  position:absolute;
    padding-left: 0;
    padding-top: 35vw;
}
@media (min-width: 600px) {
  #titleContainer {
    padding-left:13vw;
  }
}
  #titleContainer>img {
    display: flex;
    max-width: 40vw;
    position: relative;
      left:30rem;
      top: -40vh;
    filter: contrast(10);
  }
  @media (max-width: 600px) {
    #titleContainer>img {
      display: auto;
      max-width: 60vw;
      position: relative;
        left:auto;
        top: auto;
      margin:auto;
    }
  }

.title {
  /* padding-bottom: 20rem;
  padding-left: 13vw;
  padding-top: 60vh; */
  position: relative;
    /* top: 40vw;
    left:20vw; */
  z-index: 10;
  overflow: hidden;
  color: var(--textColor2)
}
/* .title:nth-child(2) {
  left:25vw; 
} */
@media (max-width: 500px) {
  /* .title {
    top: 60vw;
    left:10vw;
  }
  .title:nth-child(2) {
    left:10vw;
  } */
}

#titleImageContainer {
  aspect-ratio: 2/1;
    height:50vw;
    max-width:100vw;
  overflow: hidden;
  position:absolute;
    /* transform: translate(-10vw); */
  padding-bottom: 8rem;
  padding-top:0px !important;
}
#titleImage {
  aspect-ratio: 2/1;
    width:100vw;
    height:50vw;
  overflow: hidden;
  position: absolute;
  top:0;
  background-color: var(--backgroundColor2);
  /* background-image: linear-gradient(-18deg, #00658F, #1b3156); */
}
  #titleImageFlair {
    animation-name: titleImageFlairRotation;
      /* -moz-animation-iteration-count: infinite; */
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    position:relative;
  }
  @keyframes titleImageFlairRotation {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
  }
  #titleImageFlair:hover {
    filter:contrast(100);
  }
    /* #titleImageFlair>* {
  
    } */
    #titleImageFlair:nth-child(1){
        animation-duration: 30s;
        filter: hue-rotate(-460deg) 
                sepia(40%)
                grayscale(1)
                brightness(2)
        ;
                /* drop-shadow(10px 10px) 
                drop-shadow(10px -10px) 
                drop-shadow(-10px 10px) 
                drop-shadow(-10px -10px); */;
        scale: 1.2;
        position:relative;
          left:-15%;
          top:40%;
    }
    #titleImageFlair:nth-child(2){
        animation-duration: 18s;
        filter: /*hue-rotate(-69deg) 
                /* sepia(30%)
                grayscale(1) */
                /* drop-shadow(10px 10px) 
                drop-shadow(10px -10px) 
                drop-shadow(-10px 10px) 
                drop-shadow(-10px -10px); */
                hue-rotate(-190deg)
                brightness(3)
        ;
        scale: 1;
        position:relative;
          left:30%;
          top:-180%;
    }
    #titleImageFlair:nth-child(3){
      animation-duration: 12s;
      filter: hue-rotate(-40deg) 
                /* drop-shadow(10px 10px) 
                drop-shadow(10px -10px) 
                drop-shadow(-10px 10px) 
                drop-shadow(-10px -10px); */
                grayscale(1)
                brightness(0)
      ;
      scale: 1.2;
      position:relative;
        left:0%;
        top:-350%;
  }

  #uniqueText {
    color: var(--textColor2);
    text-decoration: underline;
    text-decoration-color: var(--textColor2)
  }

  #whatWeOfferList>li {
    font-size: 2rem;
    list-style: none;
    margin-top: 5rem;
    text-decoration-color: var(--textColor2);
    
  }
  #whatWeOfferList>li:nth-child(2){
    text-align: center;
  }
  #whatWeOfferList>li:nth-child(3) {
    text-align: right;
  }
    ul#whatWeOfferList>li>p {
      list-style: none;
      font-size: 1rem;
      max-width: 25rem;
      text-align: left;
      margin-top: 1rem;
    }
/*     
#websitesThatAreUnique {
  padding-right: 3rem;
} */

#wossitscfywIcon {
  height: 2rem;
  filter: invert(1);
}