:root {
  --color1: #FF0011;
  --color2: #000000;
  --color3: #ffFFff;

  --backgroundColor1: var(--color2);
  --backgroundColor2: var(--color3);

  --textColor1: var(--color2);
  --textColor2:  var(--color1);
  --textColor3:  var(--color3);
  --textColorTitles: var(--color3);

  --shadowColor: var(--color2);

  --headerHeight: 2rem;
  --headerSpacing: 4rem; /* for either side */
}

* {
  margin: 0px;
  padding: 0px;
  transition-duration: 200ms;
  animation-timing-function: ease-in-out;
}

body {
  background-color: var(--backgroundColor1);
  color: var(--textColor1);
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--textColorTitles);
  /* text-shadow:  var(--shadowColor) 0.25rem 0.2rem; */
}

