/* !keep alphabetically! */
@import './style/404.css';
@import './style/about.css';
@import './style/callOrEmailDot.css';
@import './style/contact.css';
@import './style/footer.css';
@import './style/header.css';
@import './style/home.css';
@import './style/home2.css';
@import './style/pricing.css';
@import './style/portfolio.css';

:root {
  --color1: #a566d9;
  --color2: #000000;
  --color3: #ffFFff;
  --color4: #383838;

  --backgroundColor1: var(--color2);
  --backgroundColor2: var(--color3);

  --textColor1: var(--color2);
  --textColor2:  var(--color1);
  --textColor3:  var(--color3);
  --textColorTitles: var(--color3);

  --shadowColor: var(--color2);

  --headerHeight: 2rem;
  --headerSpacing: 4rem; /* for either side */
}

@font-face {
  font-family: test09;
  src: local('type09'), url(@/assets/test09v1r31.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  transition-duration: 200ms;
  animation-timing-function: ease-in-out;
}

body {
  background-color: var(--backgroundColor1);
  color: var(--textColor3);
  font-family: 'test09', sans-serif;
  letter-spacing: 1px;
}

.ctaSection {
  align-content: auto;
  aspect-ratio: auto;
    min-height: 10vh;
  color: auto;
    text-align: center;
    font-weight: bold;
  display: flex;
    flex-direction: column;
}
  #textButton {
    /* aspect-ratio: 2/1;
      min-width: 10vw;
      max-width: 50vw; */
      width: 20vw;
    background-color: var(--color1);
    border-radius: 20px;
    color:var(--color2);
      font-size: xx-large;
      text-align: center;
    margin: auto;
    padding: 5rem;
  }


/* h1, h2, h3, h4, h5, h6 {
  color: var(--textColorTitles);
  /* text-shadow:  var(--shadowColor) 0.25rem 0.2rem;/
} */
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5{
  font-size: 1.5rem;
}

.interested {
  font-size: xx-large;
  font-weight: bolder;
  line-height: 200%;
}

/* #loading {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  width:100%;
  height: 100%;
}

#loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

#mouseShadow {
  position: fixed;
    pointer-events: none;
    width: 40vw;
    height: 40vw;
    background-image: radial-gradient(rgba(0, 255, 183, 0.184), rgba(0, 255, 183, 0), rgba(0, 255, 183, 0));
    border-radius: 50%;
    transform: translate(-20vw, -20vw);
    transition: transform 0.2s ease-out;
    z-index: 100;
    overflow: visible;
    /* filter: invert(1); */
}

.tableContainer {
  overflow: scroll;
}
table {
  /* border: 2px solid var(--color1); */
  padding: 3rem;
  width: 80vw;
  margin: auto;
}
table>* {
  color:var(--color3);
}
  thead>tr>th {
    color: var(--color1);
    padding: 1rem;
  }
  .tableSeparator {
    color:var(--color1);
  }

  tr {
    background-color: var(--color2);
    /* filter: brightness(0.2); */
  }
  tr:nth-child(2n) {
    background-color: var(--color4);
  }
  td {
    border: 2px solid var(--color4);
    padding: 0.7rem;
  }